{{!-- Mostrar los productos obtenidos --}}
{{#each productos}}
    <li>{{this.nombre}}</li>
    <li>{{this.precio}}</li>
    <li>{{this.marca}}</li>
    <li>{{this.descripcion}}</li>
    <hr>
    <br>
{{/each}}

{{!-- Mostrar los botones de paginación --}}
{{#if prevLink}}
    <a href="{{prevLink}}">Anterior</a>
{{/if}}
{{#if nextLink}}
    <a href="{{nextLink}}">Siguiente</a>
{{/if}}
<p>Pagina {{page}} de {{totalPages}}</p>